.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  
}

.my-restaurant >div {
  height: 60px;
}

.my-restaurant img {
  max-height: 100%;
}

.user-item {
  margin-bottom : 15px;
}

.user-item img {
  width: 100px;
  height: 100px;
}

